<ion-view title="Contact Us">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="mailto:aoebtech@gmail.com" id="contactUs-button1" class="button button-balanced  button-block">E-mail</a>
        <a href="#" onclick="window.open('http://aoebtech.blogspot.in/', '_system', 'location=yes'); return false;" id="contactUs-button7" class="button button-balanced  button-block">Blog</a>
        <a style="display:inline-block;" href="#" onclick="window.open('https://www.facebook.com/aoe.btech', '_system', 'location=yes'); return false;">
            <div style="text-align:center;">
                <img src="img/jF8fkhoQoazdUWDdmeG9_like-us-on-facebook-icon.png" width="50%" height="auto">
            </div>
        </a>
    </ion-content>
</ion-view>