<ion-view title="Select Website">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#" onclick="window.open('http://dl.flipkart.com/dl/?affid=adityasir', '_system', 'location=yes'); return false;" id="selectWebsite-button2" class="button button-positive  button-block">Flipkart</a>
        <a href="#" onclick="window.open('http://www.snapdeal.com/?utm_source=aff_prog&amp;utm_campaign=afts&amp;offer_id=17&amp;aff_id=70097', '_system', 'location=yes'); return false;" id="selectWebsite-button4" class="button button-calm  button-block">Snapdeal</a>
        <a href="#" onclick="window.open('http://www.amazon.in/ref=as_li_ss_tl?_encoding=UTF8&amp;camp=3626&amp;creative=24822&amp;linkCode=ur2&amp;placement=home_multi.gif&amp;tag=aoebtech-21', '_system', 'location=yes'); return false;" id="selectWebsite-button3"
        class="button button-dark  button-block">Amazon</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=193&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button5" class="button button-energized  button-block">Paytm</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=269&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button8" class="button button-royal  button-block">Mobikwik</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=546&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button9" class="button button-calm  button-block">OYO Rooms</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=562&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button10" class="button button-positive  button-block">Freecharge</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=466&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button12" class="button button-assertive  button-block">KFC</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=32&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button11" class="button button-balanced  button-block">Lenskart</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=512&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button13" class="button button-calm  button-block">McDonalds</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=217&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button14" class="button button-dark  button-block">Dominos</a>
        <a href="#" onclick="window.open('http://tracking.payoom.com/aff_c?offer_id=62&amp;aff_id=17186', '_system', 'location=yes'); return false;" id="selectWebsite-button15" class="button button-energized  button-block">Jabong</a>
        <div class="spacer" style="width: 285px; height: 65px;"></div>
        <div>
            <p>After purchase submit the below google form</p>
        </div>
        <a ui-sref="tabsController.form" id="selectWebsite-button6" class="button button-balanced  button-block">Fill the form</a>
    </ion-content>
</ion-view>